<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="Seven Car Rental">
    <meta name="author" content="Seven Car Rental">

    <link rel="icon" type="image/png" sizes="16x16" href="{{ asset('assets/logofavi.png') }}">
    <title>{% block title %}Seven Car Rental{% endblock %}</title>

    {% block stylesheets %}
        {{ encore_entry_link_tags('panel') }}
    {% endblock %}

</head>

<body class="skin-default fixed-layout">
<!-- ============================================================== -->
<!-- Preloader - style you can find in spinners.css -->
<!-- ============================================================== -->
<div class="preloader">
    <div class="loader">
        <div class="loader__figure"></div>
        <p class="loader__label">Seven Car Rental</p>
    </div>
</div>
<!-- ============================================================== -->
<!-- Main wrapper - style you can find in pages.scss -->
<!-- ============================================================== -->
<div id="main-wrapper">
    <!-- ============================================================== -->
    <!-- Topbar header - style you can find in pages.scss -->
    <!-- ============================================================== -->
    <header class="topbar">
        <nav class="navbar top-navbar navbar-expand-md navbar-dark">
            <!-- ============================================================== -->
            <!-- Logo -->
            <!-- ============================================================== -->
            <div class="navbar-header text-center">
                <a class="navbar-brand" href="{{ path('panel_homepage') }}">
                   <b>
                       <img src="{{ asset('assets/logobeyaz.png') }}"  class="light-logo logoKucuk" width="45px" />
                    </b>
                  <span>
                         <img src="{{ asset('assets/logobeyaz.png') }}" class="light-logo" width="100px" />
                  </span>
                </a>
            </div>
            <!-- ============================================================== -->
            <!-- End Logo -->
            <!-- ============================================================== -->
            <div class="navbar-collapse">
                <!-- ============================================================== -->
                <!-- toggle and nav items -->
                <!-- ============================================================== -->
                <ul class="navbar-nav mr-auto">
                    <!-- This is  -->
                    <li class="nav-item"> <a class="nav-link nav-toggler d-block d-md-none waves-effect waves-dark" href="javascript:void(0)"><i class="ti-menu"></i></a> </li>

                    <li class="nav-item">
                        <form class="app-search d-none d-md-block d-lg-block ml-2">
                            <input type="text" class="form-control" placeholder="Ara">
                        </form>
                    </li>
                </ul>
                <!-- ============================================================== -->
                <!-- User profile and search -->
                <!-- ============================================================== -->
                <ul class="navbar-nav my-lg-0">

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="ti-comment-alt"></i>
                            <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
                        </a>
{#
                        <div class="dropdown-menu dropdown-menu-right mailbox scale-up">
                            <ul>
                                <li>
                                    <div class="drop-title">Notifications</div>
                                </li>
                                <li>
                                    <div class="message-center">
                                        <!-- Message -->
                                        <a href="javascript:void(0)">
                                            <div class="btn btn-danger btn-circle"><i class="fa fa-link"></i></div>
                                            <div class="mail-contnet">
                                                <h5>Luanch Admin</h5> <span class="mail-desc">Just see the my new admin!</span> <span class="time">9:30 AM</span> </div>
                                        </a>
                                        <!-- Message -->
                                        <a href="javascript:void(0)">
                                            <div class="btn btn-success btn-circle"><i class="ti-calendar"></i></div>
                                            <div class="mail-contnet">
                                                <h5>Event today</h5> <span class="mail-desc">Just a reminder that you have event</span> <span class="time">9:10 AM</span> </div>
                                        </a>
                                        <!-- Message -->
                                        <a href="javascript:void(0)">
                                            <div class="btn btn-info btn-circle"><i class="ti-settings"></i></div>
                                            <div class="mail-contnet">
                                                <h5>Settings</h5> <span class="mail-desc">You can customize this template as you want</span> <span class="time">9:08 AM</span> </div>
                                        </a>
                                        <!-- Message -->
                                        <a href="javascript:void(0)">
                                            <div class="btn btn-primary btn-circle"><i class="ti-user"></i></div>
                                            <div class="mail-contnet">
                                                <h5>Pavan kumar</h5> <span class="mail-desc">Just see the my admin!</span> <span class="time">9:02 AM</span> </div>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <a class="nav-link text-center link" href="javascript:void(0);"> <strong>Check all notifications</strong> <i class="fa fa-angle-right"></i> </a>
                                </li>
                            </ul>
                        </div>
#}
                    </li>

                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle waves-effect waves-dark" href="" id="2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <i class="icon-check"></i>
                            <div class="notify"> <span class="heartbit"></span> <span class="point"></span> </div>
                        </a>
                      {#  <div class="dropdown-menu mailbox dropdown-menu-right scale-up" aria-labelledby="2">
                            <ul>
                                <li>
                                    <div class="drop-title">You have 4 new messages</div>
                                </li>
                                <li>
                                    <div class="message-center">
                                        <!-- Message -->
                                        <a href="javascript:void(0)">
                                            <div class="user-img"> <img src="../assets/images/users/1.jpg" alt="user" class="img-circle"> <span class="profile-status online pull-right"></span> </div>
                                            <div class="mail-contnet">
                                                <h5>Pavan kumar</h5> <span class="mail-desc">Just see the my admin!</span> <span class="time">9:30 AM</span> </div>
                                        </a>
                                        <!-- Message -->
                                        <a href="javascript:void(0)">
                                            <div class="user-img"> <img src="../assets/images/users/2.jpg" alt="user" class="img-circle"> <span class="profile-status busy pull-right"></span> </div>
                                            <div class="mail-contnet">
                                                <h5>Sonu Nigam</h5> <span class="mail-desc">I've sung a song! See you at</span> <span class="time">9:10 AM</span> </div>
                                        </a>
                                        <!-- Message -->
                                        <a href="javascript:void(0)">
                                            <div class="user-img"> <img src="../assets/images/users/3.jpg" alt="user" class="img-circle"> <span class="profile-status away pull-right"></span> </div>
                                            <div class="mail-contnet">
                                                <h5>Arijit Sinh</h5> <span class="mail-desc">I am a singer!</span> <span class="time">9:08 AM</span> </div>
                                        </a>
                                        <!-- Message -->
                                        <a href="javascript:void(0)">
                                            <div class="user-img"> <img src="../assets/images/users/4.jpg" alt="user" class="img-circle"> <span class="profile-status offline pull-right"></span> </div>
                                            <div class="mail-contnet">
                                                <h5>Pavan kumar</h5> <span class="mail-desc">Just see the my admin!</span> <span class="time">9:02 AM</span> </div>
                                        </a>
                                    </div>
                                </li>
                                <li>
                                    <a class="nav-link text-center link" href="javascript:void(0);"> <strong>See all e-Mails</strong> <i class="fa fa-angle-right"></i> </a>
                                </li>
                            </ul>
                        </div>#}
                    </li>

                    <li class="nav-item dropdown u-pro">
                        <a class="nav-link dropdown-toggle waves-effect waves-dark profile-pic" href="" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false"> <span class="hidden-md-down">{{ app.user.adi }} &nbsp; <i class="fa fa-angle-down"></i></span> </a>
                        <div class="dropdown-menu dropdown-menu-right animated flipInY">

                            <a href="{{ path('panel_hesap_homepage') }}" class="dropdown-item"><i class="icon-user"></i> Hesap Bilgileri</a>
                            {% if app.user.roles[0]=='ROLE_ADMIN' %}
                            <a href="{{ path('panel_hesaplar_homepage') }}" class="dropdown-item"><i class="icon-people"></i> Tüm Hesaplar </a>
                            {% endif %}
                            <div class="dropdown-divider"></div>

                            <a href="{{ path('fos_user_security_logout') }}" class="dropdown-item"><i class="fa fa-power-off"></i> Çıkış Yap</a>
                            <!-- text-->
                        </div>
                    </li>
                    <!-- ============================================================== -->
                    <!-- End User Profile -->
                    <!-- ============================================================== -->
                </ul>
            </div>
        </nav>
    </header>

    <aside class="left-sidebar">
        <!-- Sidebar scroll-->
        <div class="scroll-sidebar">
            <!-- Sidebar navigation-->
            <nav class="sidebar-nav">
                <ul id="sidebarnav">

                    <li>
                        <a class="waves-effect waves-dark" href="{{ path('panel_homepage') }}" aria-expanded="false">
                            <i class="icon-graph"></i>
                            <span class="hide-menu">İstatistikler
                                {#<span class="badge badge-pill badge-cyan ml-auto">4</span>#}
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="waves-effect waves-dark" href="{{ path('panel_ofis_homepage') }}" aria-expanded="false">
                            <i class="icon-briefcase"></i>
                            <span class="hide-menu">Ofisler
                                {#<span class="badge badge-pill badge-cyan ml-auto">4</span>#}
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="waves-effect waves-dark" href="{{ path('panel_aracgrup_homepage') }}" aria-expanded="false">
                            <i class="ti-direction-alt"></i>
                            <span class="hide-menu">Araç Grupları
                                {#<span class="badge badge-pill badge-cyan ml-auto">4</span>#}
                            </span>
                        </a>
                    </li>

                    <li>
                        <a class="waves-effect waves-dark" href="{{ path('panel_arac_homepage') }}" aria-expanded="false">
                            <i class="ti-car"></i>
                            <span class="hide-menu">Araçlar
                                {#<span class="badge badge-pill badge-cyan ml-auto">4</span>#}
                            </span>
                        </a>
                       {# <ul aria-expanded="false" class="collapse">
                            <li><a href="index.html">Minimal </a></li>
                            <li><a href="index2.html">Analytical</a></li>
                            <li><a href="index3.html">Demographical</a></li>
                            <li><a href="index4.html">Modern</a></li>
                        </ul>#}
                    </li>
                    <li>
                        <a class="waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                            <i class="ti-exchange-vertical "></i>
                            <span class="hide-menu">Fiyat Artır/Azalt
                                {#<span class="badge badge-pill badge-cyan ml-auto">4</span>#}
                            </span>
                        </a>
                        {# <ul aria-expanded="false" class="collapse">
                             <li><a href="index.html">Minimal </a></li>
                             <li><a href="index2.html">Analytical</a></li>
                             <li><a href="index3.html">Demographical</a></li>
                             <li><a href="index4.html">Modern</a></li>
                         </ul>#}
                    </li>
                    <li>
                        <a class="waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                            <i class="icon-star"></i>
                            <span class="hide-menu">Kampanyalar
                                {#<span class="badge badge-pill badge-cyan ml-auto">4</span>#}
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="has-arrow waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                            <i class="icon-check"></i>
                            <span class="hide-menu">Rezervasyon
                                {#<span class="badge badge-pill badge-cyan ml-auto">4</span>#}
                            </span>
                        </a>
                        <ul aria-expanded="false" class="collapse">
                            <li><a href="index.html">Gelen Rezervasyonlar</a></li>
                            <li><a href="index2.html">Rezervasyon Yorumları</a></li>
                            <li><a href="index2.html">Ekstra Hizmetler</a></li>
                        </ul>
                    </li>
                    <li>
                        <a class="waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                            <i class="ti-menu-alt"></i>
                            <span class="hide-menu">Blog
                                {#<span class="badge badge-pill badge-cyan ml-auto">4</span>#}
                            </span>
                        </a>
                    </li>

                    <li>
                        <a class="waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                            <i class="ti-rss-alt"></i>
                            <span class="hide-menu">E-Bülten
                                {#<span class="badge badge-pill badge-cyan ml-auto">4</span>#}
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                            <i class="icon-book-open"></i>
                            <span class="hide-menu">Kurumsal Sayfalar
                                {#<span class="badge badge-pill badge-cyan ml-auto">4</span>#}
                            </span>
                        </a>
                    </li>
                    <li>
                        <a class="waves-effect waves-dark" href="javascript:void(0)" aria-expanded="false">
                            <i class="ti-headphone-alt"></i>
                            <span class="hide-menu">İletişim
                                {#<span class="badge badge-pill badge-cyan ml-auto">4</span>#}
                            </span>
                        </a>
                    </li>


                   </ul>
            </nav>
            <!-- End Sidebar navigation -->
        </div>
        <!-- End Sidebar scroll-->
    </aside>
    <!-- ============================================================== -->
    <!-- End Left Sidebar - style you can find in sidebar.scss  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- Page wrapper  -->
    <!-- ============================================================== -->
    <div class="page-wrapper">
        <!-- ============================================================== -->
        <!-- Container fluid  -->
        <!-- ============================================================== -->
        <div class="container-fluid">


            <div class="row page-titles">
                <div class="col-md-5 align-self-center">
                    <h4 class="text-themecolor">{% block sayfaBaslik %}{% endblock %}</h4>
                </div>
                <div class="col-md-7 align-self-center text-right">
                    <div class="d-flex justify-content-end align-items-center">
                        {% block sayfaUst %}

                        {% endblock %}
                    </div>
                </div>
            </div>



           {% block body %} {% endblock %}

        </div>
        <!-- ============================================================== -->
        <!-- End Container fluid  -->
        <!-- ============================================================== -->
    </div>
    <!-- ============================================================== -->
    <!-- End Page wrapper  -->
    <!-- ============================================================== -->
    <!-- ============================================================== -->
    <!-- footer -->
    <!-- ============================================================== -->
    <footer class="footer">
        © 2019 Seven Car Rental
    </footer>
    <!-- ============================================================== -->
    <!-- End footer -->
    <!-- ============================================================== -->
</div>



<div class="blockpage" style=" cursor: progress; width: 100%; height: 100%; position: fixed; z-index: 99999999; display: none; top:0;left: 0;"></div>

{% block javascripts %}
    {{ encore_entry_script_tags('panel') }}
{% endblock %}


{% block javascript %}

{% endblock %}


<script>
    Dropzone.autoDiscover = false;
    $().ready(function () {

        $('.image-popup-vertical-fit').magnificPopup({
            type: 'image',
            closeOnContentClick: true,
            mainClass: 'mfp-img-mobile',
            image: {
                verticalFit: true
            }

        });

        $(":input").inputmask();
        $('.numeric').numeric();
        $("select").select2({
            language: "tr"
        });
        $('.priceFormat').priceFormat({
            prefix: '',
            thousandsSeparator: ''
        });
        $('.priceFormat').blur(function () {
            if (this.value=='0.00'){
                $(this).val('');
            }
        });
        $('.swal2-content .select2-container').remove();
    });

    function BlokPage(tip) {
        if(tip=='enabled'){
            $('.blockpage').css('display','block');
        }else{
            $('.blockpage').css('display','none');
        }
    }

    function Bildirim(tip,text) {
        var baslik = '';

        if (tip == 'success'){ baslik = 'Başarılı'; }
        else if (tip == 'warning'){ baslik = 'Uyarı'; }
        else if (tip == 'error'){ baslik = 'Hata'; }
        else if (tip == 'info'){ baslik = 'Bilgi'; }

        $.toast({
            heading: baslik,
            text: text,
            position: 'top-right',
            loaderBg: '#ff6849',
            icon: tip,
            hideAfter: 3000,
            stack: 6
        });
    }


    function checkEmail(email) {
        var filter = /^[_a-z0-9-]+(\.[_a-z0-9-]+)*@[a-z0-9-]+(\.[a-z0-9-]+)*(\.[a-z]{2,4})$/;
        if (!filter.test(email)) {
            //alert('Lütfen uygun formatta bir mail adresi giriniz !');
            return false;
        }
        else{
            //alert('Mail adresi uygun formattadır.');
            return true;
        }
    }
    function checkUsername(username) {
        var filter = /^[a-zA-Z]{1}|[a-zA-Z0-9_\.\-]{4, 19}$/;
        if (!filter.test(username)) {
            //alert('Lütfen uygun formatta bir mail adresi giriniz !');
            return false;
        }
        else{
            //alert('Mail adresi uygun formattadır.');
            return true;
        }
    }

    harfleriBuyut = function (obj) {
        var deger = obj.value;
        var yeniDeger = '';
        deger = deger.split(' ');
        for (var i = 0; i < deger.length; i++) {
            if (i == (deger.length - 1)) {
                yeniDeger += deger[i].substring(0, 1).toUpperCase() + deger[i].substring(1, deger[i].length);
                obj.value = yeniDeger;
            } else {
                yeniDeger += deger[i].substring(0, 1).toUpperCase() + deger[i].substring(1, deger[i].length) + ' ';
                obj.value = yeniDeger;
            }
        }
    }
    hepsiBuyuk = function (obj) {
        var deger = obj.value;
        obj.value = obj.value.replace(/i/g, 'İ').replace(/ı/g, 'I').toUpperCase();
    }
    hepsiKucuk = function (obj) {
        var deger = obj.value;
        obj.value = obj.value.replace(/İ/g, 'i').replace(/I/g, 'ı').toLowerCase();
    }

</script>
</body>

</html>

